// With regard to Bootstrap, app modules are positioned as
// rows with nested spans, which divide rows horizontally.
.feed {
  @include make-xs-column(12);
  // @include make-xs-column-offset(0);
  @include make-md-column(4);
  @include make-md-column-offset(2);
  @include make-lg-column(4);
  @include make-lg-column-offset(4);

  background-color: $brand-background;

  .create {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }

  .view {
    text-align: center;
    margin: 30px 0 30px 0;
  }

  .workout {
    margin: 10px 0 10px 0;
    padding: 10px 5px 10px 5px;
    width: 100%;
    background-color: $brand-workout;

      .user-trybe-post {
        margin-bottom: 10px;
      }

      .exercises {
        margin-top: 10px;
        margin-left: 10px;
      }

      .liftResult {
        margin-left: 20px;
      }

      .tryButton {
        text-align: center;
        border:1px solid gray;
        background-color: $brand-primary;
        margin: 20px 0 0 0;
        font-family: 'ubuntu';
        font-size: 16px;
      }
  }
}
