// With regard to Bootstrap, app modules are positioned as
// rows with nested spans, which divide rows horizontally.
.feed {
  // @include make-xs-column(4);
  // @include make-xs-column-offset(2);
  // background-color: #ffc0cb;
}

.workout {
  margin-top: 10px;
  margin-bottom: 10px;
}

.exercises {
  margin-left: 10px;
}

.liftResult {
  margin-left: 20px;
}
.tryButton {
  border:1px solid gray;
  font-size:0.875;
  word-wrap: break-word;
  width: 400px; // only for IE8
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}