<div class="feed">

  <!-- Create workout button sends user to workout module -->
  <div id="type" class="create" role="group" aria-label="...">
    <button class="btn-block" type="button" ng-click="log()" class="btn btn-default">Create Workout</button>
  </div>

  <!-- Filters workout feed to all workouts or only mine -->
  <div id="type" class="view" role="group" aria-label="...">
    <button type="button" ng-click="getAllWorkouts()" class="btn btn-default">All</button>
    <button type="button" ng-click="getMyWorkouts()" class="btn btn-default">Me</button>
  </div>

  <!-- Shows all workouts from filter -->
  <div><input type='text' ng-model='search' placeholder='Find past workouts' class="search"/></div>
  <div class="workouts" ng-repeat="workout in data.workouts | filter:search track by $index">
    <div class="workout" ng-click="log($index)">
      <!-- Show workout descr -->
      <div class="user-trybe-post"><span>{{ workout.username }} posted to {{ workout.trybe }}</span></div>
      <div><span ng-if="workout.type === 'benchmark'">{{ workout.title }}</span></div>
      <div><span>{{ workout.description }}</span></div>

      <!-- Repeats through exercises in workout, shows sets & reps if a lift -->
      <div class="exercises" ng-repeat="exercise in workout.exercises track by $index">
        <div><span>{{ exercise.exerciseName }}</span></div>
          <div><span ng-if="workout.type === 'lift'">{{ exercise.quantity[0] }} Sets, {{ exercise.quantity[1] }} Reps</span></div>
          <div><span ng-if="workout.type === 'lift'" class="liftResult">Result: {{ exercise.result }} </span></div>
      </div>

      <!-- Shows workout result if a metcon or benchmark workout -->
      <div><span ng-if="workout.type !== 'lift'"> {{ workout.finalResult.type }} {{ workout.finalResult.value }} </span></div>

      <div id="type" role="group" aria-label="...">
        <button type="button" class="btn-block tryButton">try</button>
      </div>

    </div>
  </div>

</div>
