<div class="feed">

  <!-- Create workout button sends user to workout module -->
  <div id="type" class="create" role="group" aria-label="...">
    <button class="btn-block" type="button" ng-click="log()" class="btn btn-default">Create Workout</button>
  </div>

  <!-- Filters workout feed to all workouts or only user's -->
  <div id="type" class="view" role="group" aria-label="...">
    <div>Filter Workouts By</div>
    <button type="button" ng-click="getMyWorkouts()" class="btn btn-default">My Log</button>
    <button type="button" ng-click="getAllWorkouts()" class="btn btn-default">All</button>
  </div>

  <!-- Shows all workouts from filter -->
  <input class='form-control' type='text' ng-model='search' placeholder='Find Workouts'>
  <div class="workouts" ng-repeat="workout in data.workouts | filter:search track by $index">
    <div class="workout">
      <!-- Show workout descr -->
      <div class="user-trybe-post"><span>{{ workout.username }} posted to {{ workout.trybe }}</span></div>
      <div><span ng-if="workout.type === 'benchmark'">{{ workout.title }}</span></div>
      <div><span class="description">{{ workout.description }}</span></div>

      <!-- Repeats through exercises in workout, shows sets & reps if a lift -->
      <div class="exercises" ng-repeat="exercise in workout.exercises track by $index">
        <div><span>{{ exercise.exerciseName }}</span></div>
          <div><span ng-if="workout.type === 'lift'">{{exercise.quantity[0]}} Sets, {{exercise.quantity[1]}} Reps</span></div>
          <div><span ng-if="workout.type === 'lift'" class="liftResult">Max: {{ exercise.result }} </span></div>
      </div>

      <!-- Shows workout result if a metcon or benchmark workout -->
      <div><span ng-if="workout.type !== 'lift'"> {{ workout.finalResult.type }}: {{ workout.finalResult.value }} </span></div>

      <div id="type" role="group" aria-label="...">
        <button type="button" ng-click="log($index)" class="btn-block tryButton">try</button>
      </div>

    </div>
  </div>

</div>
