<div class="workout">

  <form ng-model="workout">

    <!-- Copy workout state -->
    <fieldset ui-view='log' ng-if='!isCreatingWorkout'>
      <legend>Begin a Workout</legend>
        <div class="form-group">
          <label for="type">Type: {{workout.type}}</label>
        </div>

        <!-- Display workout instructions -->
        <div class="form-group">
          <label for="description">Instructions</label>
          <textarea id="description" class="form-control" placeholder="Instructions: ">{{workout.description}}</textarea>

          <!-- If workout is lift, show exercise list -->
          <ul ng-if="workout.type === 'lift'" class="exercise-list">
            <label for="exercises">Exercises</label>
            <li ng-repeat="ex in workout.exercises track by $index">
              <div>{{ex.exerciseName}}</div>
              <!--if workout is lift, show quantity & results-->
              <div ng-if="workout.type === 'lift'" class="workout-quantity">{{printWorkoutQuantity(ex)}}
                <div>Max weight: <input ng-model="workout.exercises[$index].result" type="text" value="{{ex.result}}"></input></div>
              </div>
            </li>
          </ul>

          <!-- If workout isn't a lift, show final result -->
          <div ng-if="workout.type !== 'lift'">
            <label for="result">{{workout.finalResult.type}}</label>
            <input ng-model="workout.finalResult.value"></input>
          </div>

          <!-- Log button posts workout data to server -->
          <button class="btn-block" type="button" ng-click="log()" class="btn btn-default">Log</button>
        </div>
    </fieldset>

    <!-- Create state -->
    <fieldset ng-if='isCreatingWorkout' ui-view='create'>
      <legend>Create a Workout</legend>
        <div class="form-group">
          <label for="type">Type</label>
          <div id="type" class="btn-group" role="group" aria-label="...">
            <button type="button" ng-click="createWorkout('lift')" class="btn btn-default">Lift</button>
            <button type="button" ng-click="createWorkout('metcon')" class="btn btn-default">Metcon</button>
            <button type="button" ng-click="createWorkout('benchmark')" class="btn btn-default">Benchmark</button>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Instructions</label>
          <textarea id="description" class="form-control" placeholder="{{placeholders.instructions}}" ng-model="workout.description"></textarea>
        </div>

      <!-- Type: Lift -->
      <div ng-if="workout.type === 'lift'">
        <legend>Add Exercises to Workout</legend>
        <div class="ctrls-by-type">

          <div class="ctrl-group" ng-repeat="ex in workout.exercises track by $index">
            <input class="exercise-label" ng-model="ex.exerciseName" placeholder="Exercise"></input>
            <div class="ctrl-group">
              <!-- <numstepper ng-model="workout.test" id="sets"></numstepper> -->
              <input class="sets" ng-model="ex.quantity[0]" placeholder="Sets"></input>
            </div>

            <div class="ctrl-group">
              <!-- <numstepper id="reps"></numstepper> -->
              <input class="ctrl-group" ng-model="ex.quantity[1]" placeholder="Reps"></input>
            </div>

            <div class="ctrl-group">
              <!-- <numstepper id="reps"></numstepper> -->
              <input class="ctrl-group" ng-model="ex.result" placeholder="Max weight"></input>
            </div>
          </div>

        </div>
        <button type="button" ng-click="addExercise()" class="btn btn-default">Add Another Exercise</button>
      </div>


      <!-- Type: Metcon or Benchmark -->
      <div ng-if="workout.type !== 'lift'">
        <div class="ctrl-group">
          <label for="type">Track</label>
          <div id="type" class="btn-group" role="group" aria-label="...">
            <button type="button" ng-click="setResultType('time')" class="btn btn-default">Total time</button>
            <button type="button" ng-click="setResultType('reps')" class="btn btn-default">Reps</button>
          </div>
        </div>

        <div class="ctrl-group">
        </div>

        <div class="ctrl-group">
          <label for="type">{{workout.finalResult.type}}</label>
          <input class="ctrl-group" ng-model="temp.finalResult"></input>
        </div>
      </div>

      <!-- Posts workout data to server and sends user to feed -->
      <button class="btn-block" type="button" ng-click="log()" class="btn btn-default">Complete</button>

    </fieldset>

  </form>

</div>
