<div class="workout">

  <form ng-model="workout">

    <fieldset ui-view='log'>
      <legend>Begin a Workout</legend>
        <div class="form-group">
          <label for="type">Type: {{workout.type}} workout</label>
          <!-- <input type="text" value="{{workout.type}}" readonly></input> -->
        </div>

        <div class="form-group">
          <label for="description">Instructions</label>
          <textarea id="description" class="form-control" placeholder="Instructions: ">{{workout.description}}</textarea>
          <ul class="exercise-list">
            <label for="exercises">Exercises</label>
            <li ng-repeat="ex in workout.exercises track by $index">
              <div>{{ex.exerciseName}}</div>
              <!--if workout is lift, show quantity & results-->
              <div ng-if="workout.type === 'lift'" class="workout-quantity">{{printWorkoutQuantity(ex)}}
                <div>Max weight: <input ng-model="workout.exercises[$index].result" type="text" value="{{ex.result}}"></input></div>
              </div>

            </li>
          </ul>
          <button class="btn-block" type="button" ng-click="log()" class="btn btn-default">Log</button>
        </div>
    </fieldset>

    <fieldset ui-view='create'>
      <legend>Create a Workout</legend>
        <div class="form-group">
          <label for="type">Type</label>
          <div id="type" class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Lift</button>
            <button type="button" class="btn btn-default">Metcon</button>
            <button type="button" class="btn btn-default">Benchmark</button>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Instructions</label>
          <textarea id="description" class="form-control" placeholder="Password">{{description}}</textarea>
          <ul class="exercise-list">
            <li>
              <span></span><span></span>
            </li>
          </ul>
        </div>
    </fieldset>

    <!-- Create state -->
    <fieldset>

      <legend>Add Exercises to Workout</legend>

       <div class="ctrls-by-type">

        <div class="ctrl-group">
          <label for="exercise-label">Exercise</label>
          <input class="exercise-label" placeholder="name"></input>
        </div>


        <!-- Type: Lift -->
        <div class="ctrl-group">
          <label for="sets">Sets:</label>
          <numstepper id="sets"></numstepper>
        </div>

        <div class="ctrl-group">
          <label for="reps">Reps:</label>
          <numstepper id="reps"></numstepper>
        </div>

      </div>


    </fieldset>


    <!-- Read state -->

    <!-- Log state -->

  </form>

</div>
