<div class="signin">
  <form>
    <div ng-show="isUser">Sign in</div>
    <div ng-show="!isUser">Sign up</div>

    <div class="form-group">
      <label for="Username">Username</label>
      <input ng-model="user.username" type="username" class="form-control" id="username" placeholder="Enter username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Password">
    </div>

    <button ng-show="isUser" ng-click="signin()" type="submit" class="btn btn-default">Sign in</button>
    <button ng-show="!isUser" ng-click="signup()" type="submit" class="btn btn-default">Sign up</button>
  </form>
</div>
